.btn {
  border-radius: 0; }

nav {
  background-color: rgba(0, 0, 0, 0.8); }
  nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
    transition: color .5s; }
  nav .nav-item {
    padding-right: 20px; }

header .carousel-inner {
  position: relative; }

header .dark-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent; }

header .slide-1 {
  background-image: url("https://scontent.fhan1-1.fna.fbcdn.net/v/t31.0-8/22219592_852219848280739_7806608523464886737_o.jpg?oh=293cecf81a3b896677408f80640edbe5&oe=5A3A5C1D");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }

header .slide-2 {
  background-image: url("https://liminacademy.files.wordpress.com/2017/04/img_5820.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }

header .slide-3 {
  background-image: url("https://liminacademy.files.wordpress.com/2017/04/img_5698.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }

header .header-banner {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }

#service-section a {
  text-decoration: none; }

#service-section img {
  opacity: 1;
  transition: opacity .5s, transform .5s; }

#service-section a:hover img {
  transform: scale(0.9); }

#gallery-section img {
  opacity: 1;
  transition: opacity .5s, transform .5s; }

#gallery-section a:hover img {
  transform: scale(0.9);
  opacity: 0.5; }
