@import url("https://fonts.googleapis.com/css?family=Merriweather|Montserrat");
.btn {
  border-radius: 0; }

a {
  color: white;
  text-decoration: none; }

h2 {
  text-transform: uppercase;
  font-size: 170%;
  color: #e1e2e6; }

p {
  font-size: 80%;
  line-height: 180%;
  color: #e1e2e6; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white; }

nav {
  background-color: black;
  border-bottom: 2px solid orange; }
  nav .navbar-brand {
    color: #ffd998; }
  nav .nav-link {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
    transition: color .5s; }
  nav .nav-link:hover {
    color: orange; }
  nav .nav-item {
    padding-right: 10px; }

header .carousel-inner {
  position: relative; }

header .dark-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent; }

header .slide-1 {
  background-image: url("../img/slide-1.png");
  background-position: 75% 0%;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }

header .slide-2 {
  background-image: url(../img/slide-2.png);
  background-position: 12% 0%;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }

header .slide-3 {
  background-image: url("../img/slide-3.png");
  background-position: 60% 0%;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }

header .header-banner {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }

#service-section {
  position: relative; }
  #service-section .team-background {
    background-image: url(../img/team-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .5; }
  #service-section a {
    text-decoration: none; }
    #service-section a h6 {
      margin-top: 5px; }
  #service-section .col-sm-3 p {
    margin-top: .8rem; }
  #service-section img {
    opacity: 1;
    transition: opacity .5s, transform .5s; }
  #service-section a:hover img {
    transform: scale(0.9); }

#gallery-section {
  background-color: #23262d; }
  #gallery-section .row a {
    overflow: hidden; }
  #gallery-section img {
    transform: scale(1);
    transition: opacity .5s, transform .5s; }
  #gallery-section a:hover img {
    transform: scale(1.1); }

#team-section {
  position: relative; }
  #team-section .inner-border {
    border: 10px solid black;
    box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.8);
    box-sizing: border-box; }
  #team-section .team-background {
    background-image: url("https://liminacademy.files.wordpress.com/2017/04/img_5888-e1503384614259.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .2; }
  #team-section .row i {
    font-size: 500%;
    padding: 2rem;
    margin-top: 2rem;
    transition: color .5s ease; }
  #team-section .row i:hover {
    color: orange; }
  #team-section .row p {
    margin-top: 1rem; }

#contact-section {
  position: relative; }
  #contact-section .contact-background {
    position: absolute;
    background-image: url(../img/contact-background.png);
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5; }
  #contact-section .card {
    border-radius: 0;
    border: 0; }
  #contact-section .card-text {
    color: black; }
  #contact-section i {
    width: 20px;
    height: 20px; }

#footer-section {
  background-color: #23262d;
  border-top: 2px solid black; }
  #footer-section a {
    color: rgba(255, 255, 255, 0.5);
    transition: color .5s;
    font-size: 90%; }
    #footer-section a .fa {
      font-size: 120%;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      width: 50px;
      height: 50px;
      text-align: center;
      padding: 15px;
      margin-right: 10px;
      transition: border .5s; }
  #footer-section a:hover {
    color: orange; }
    #footer-section a:hover .fa {
      border: 1px solid orange; }

.js--wp-service {
  opacity: 0; }

.js--wp-service.animated {
  opacity: 1; }

.js--wp-gallery {
  opacity: 0; }

.js--wp-gallery.animated {
  opacity: 1; }
