// Main Sass File
@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat');

// font-family: 'Montserrat', sans-serif;
// font-family: 'Merriweather', serif;

//overide bootstrap
.btn {
    border-radius: 0;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    text-transform: uppercase;
    font-size: 170%;
    color: #e1e2e6;
}

p {
    font-size: 80%;
    line-height: 180%;
    color: #e1e2e6;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
}

nav {
    background-color: rgba(0, 0, 0, 90);
    border-bottom: 2px solid orange;
  
    .navbar-brand {
        color: rgb(255, 217, 152);
    }

    .nav-link {
        color: white;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 1px;
        transition: color .5s;
    }

    .nav-link:hover {
        color:orange;
    }

    .nav-item {
        padding-right: 10px;
    }
}

header {
    .carousel-inner {
        position: relative;
    }

    .dark-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        background-color: rgba(0, 0, 0, 0.0);
    }

    .slide-1 {
        background-image: url("../img/slide-1.png");
        background-position: 75% 0%;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }
    .slide-2 {
        background-image: url(../img/slide-2.png);
        background-position: 12% 0%;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }
    .slide-3 {
        background-image: url("../img/slide-3.png");
        background-position: 60% 0%;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }

    .header-banner {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}

#service-section {
    position: relative;
    
    .team-background {
        background-image: url(../img/team-background.jpg);
        background-size: cover;
        background-attachment: fixed;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: .5;
    }

    a {
        text-decoration: none;

        h6 {
            margin-top: 5px;
        }
    }

    .col-sm-3 {
        p {
            margin-top: .8rem;
        }
    }

    img {
        opacity: 1;
        transition: opacity .5s, transform .5s;
    }

    a:hover {
        img {
            transform: scale(0.9);
        }
    }
}

#gallery-section {
    background-color: #23262d;
    
    .container {
        // padding-top: 10rem;
    }

    .row {
        a {
            overflow: hidden;
        }
    }

    img {
        transform: scale(1.0);
        transition: opacity .5s, transform .5s;
    }

    a:hover {
        img {
            transform: scale(1.1);
        }
    }
}

#team-section {
    position: relative;

    .inner-border {
        border: 10px solid black;
        box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.8);
        box-sizing: border-box;
    }

    .team-background {
        background-image: url("https://liminacademy.files.wordpress.com/2017/04/img_5888-e1503384614259.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: .2;
    }

    .row {
        i {
            font-size: 500%;
            padding: 2rem;
            margin-top: 2rem;
            transition: color .5s ease, font-size .3s;
        }

        i:hover {
            color: orange;
            font-size: 520%;
        }

        p {
            margin-top: 1rem;
        }
    }
}

#contact-section {
    position: relative;

    .contact-background {
        position: absolute;
        background-image: url(../img/contact-background.png);
        background-position: center;
        background-size: cover;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .5;
    }

    .card {
        border-radius: 0;
        border: 0;
    }

    .card-text {
        color: black;
    }

    i {
        width: 20px;
        height: 20px;
    }

    .blockquote {
        opacity: .6;
    }

    .blockquote-footer {
        text-transform: uppercase;
    }
}

#footer-section {
    background-color: #23262d;
    border-top: 2px solid black;
    a {
        color: rgba(255, 255, 255, 0.5);
        transition: color .5s;
        font-size: 90%;

        .fa {
            font-size: 120%;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            text-align: center;
            padding: 15px;   
            margin-right: 10px;
            transition: border .5s; 
        }
    }

    a:hover {
        color: orange;
        .fa {
            border: 1px solid orange;
        }
    }
}

// Animation
.js--wp-service {
    opacity: 0;
}

.js--wp-service.animated {
    opacity: 1;
}

.js--wp-gallery {
    opacity: 0; 
    // .img-fluid {
    //     display: none;
    // }
}

.js--wp-gallery.animated {
    opacity: 1;
}